.DS_Store
.atom/
.idea
.packages
.pub/
flutter_bottomnavbar/build/
shopping_list/build/
hello_world/build/
layouts/build/
material_design/build/
ios/.generated/
packages
pubspec.lock
.flutter-plugins
